#page-preloader{
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    background: #fff;
    z-index:100500
}

#page-preloader .spinner{
    width: 64px;
    height: 64px;
    position: absolute;
    left:50%;
    top: 50%;
    background: url('/images/preloader.gif') no-repeat 50% 50%;
    margin: -32px 0 0 -32px;
}

.view-container{
    margin-top: 20px;
}


.average-rating-container .background,
.average-rating-container .foreground{
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    white-space: nowrap;
}
.newRaiting li li{
    color: #333;
    cursor: default;
    display: inline-block;
    font-family: 'glyphicions Halflings', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    moz-osx-font-smoothing: grayscale;
    position: relative;
    top: 1px;
    webkit-font-smoothing: antialised;
}

.newRaiting .star-rating li.star{
    cursor: default;
}

/*Start Footer*/

footer p{
    color: #fff;
}
.copyright{
    width:100%;
    text-align: center;
    background-color: #16162d;
    padding: 2rem 0;
    position: relative;
}

.up{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2.5s infinite;
    cursor: pointer;
}

.up i{
    color: #16162d;
    font-size: 2rem;
    margin: auto;
}

.copyright p{
    font-size: 1.4rem;
}

#number{
    font-size: 1.1rem;
}
/*End Footer*/
@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(248, 226, 126, 0.99);
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(248, 226, 126, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(248, 226, 126, 0);
    }
}